In [2]:
import pandas as pd

In [16]:
df1=pd.read_excel('../data/temperature/original/정선해양 관측정보.xlsx')
df2=pd.read_excel('../data/temperature/original/정선해양 관측정보 (1).xlsx')
df3=pd.read_excel('../data/temperature/original/정선해양 관측정보 (2).xlsx')
df4=pd.read_excel('../data/temperature/original/정선해양 관측정보 (3).xlsx')
df5=pd.read_csv('../data/temperature/original/거제통합.csv',encoding='cp949')

In [30]:
pd.set_option('display.max_rows', 10)  # 모든 행 출력
pd.set_option('display.max_columns', 10)  # 모든 열 출력

In [31]:
df=pd.concat([df1,df2,df3,df4],axis=0)
df=df[['관측일시(KST)','수온(℃)','염분(psu)','용존산소(ml/L)']]
df
# df.to_csv('./data/temperature/207정선_월별.csv',index=False) 실행 x

           관측일시(KST)  수온(℃)  염분(psu)  용존산소(ml/L)
0   2008-02-18 15:13   14.8    34.01      5.8200
1   2008-04-01 14:50   13.8    33.96      5.6500
2   2008-06-12 13:20   14.9    34.18      4.8200
3   2008-08-06 17:30   15.3    33.70      5.4400
4   2008-10-09 15:50   25.4    33.43      4.7800
..               ...    ...      ...         ...
67  2022-04-23 19:05   15.3    34.34      5.8286
68  2022-06-20 17:10   18.6    33.94      5.6857
69  2022-08-31 01:43   20.0    32.82      3.9714
70  2022-11-01 21:22   22.7    34.03      4.8571
71  2022-12-28 01:15   16.4    34.28      4.9714

[96 rows x 4 columns]

In [33]:
df[['년도','월']]=df['관측일시(KST)'].str.split('-',n=1,expand=True)
df[['월','일시']]=df['월'].str.split('-',n=1,expand=True)
df=df[['년도','월','수온(℃)','염분(psu)','용존산소(ml/L)']]
df

      년도   월  수온(℃)  염분(psu)  용존산소(ml/L)
0   2008  02   14.8    34.01      5.8200
1   2008  04   13.8    33.96      5.6500
2   2008  06   14.9    34.18      4.8200
3   2008  08   15.3    33.70      5.4400
4   2008  10   25.4    33.43      4.7800
..   ...  ..    ...      ...         ...
67  2022  04   15.3    34.34      5.8286
68  2022  06   18.6    33.94      5.6857
69  2022  08   20.0    32.82      3.9714
70  2022  11   22.7    34.03      4.8571
71  2022  12   16.4    34.28      4.9714

[96 rows x 5 columns]

In [5]:
df5=df5.groupby(['년도','월']).mean()
df5.to_csv('../data/temperature/original/207정선_기온.csv',index=False)
df5=pd.read_csv('../data/temperature/original/207정선_기온.csv')
df5

     평균 풍속(m/s)  평균 상대습도(%)  평균 기온(°C)
0      7.025806   57.483871   5.932258
1      6.741379   45.344828   4.610345
2      6.658065   60.612903   9.967742
3      6.814286   67.000000  13.883333
4      5.051613   86.741935  18.048387
..          ...         ...        ...
175    5.493548   91.774194  26.141935
176    8.283333   80.433333  24.123333
177    7.070968   70.096774  19.454839
178    5.946667   63.766667  16.666667
179    6.748387   56.129032   6.806452

[180 rows x 3 columns]

In [14]:
df2=pd.read_csv('../data/temperature/207정선_월별.csv')
df2=df2.interpolate(method='linear')
df2=df2.rename(columns={'수온':'수온(30m)','염분':'염분(30m)','용존산소':'용존산소(30m)'})

df2=df2[['년도','월','수온(30m)','염분(30m)','용존산소(30m)']]
df2
# df.to_csv('./data/temperature/207정선_월별.csv',index=False)

       년도   월  수온(30m)  염분(30m)  용존산소(30m)
0    2008   1    15.75  33.6500   5.515000
1    2008   2    14.80  34.0100   5.820000
2    2008   3    14.30  33.9850   5.735000
3    2008   4    13.80  33.9600   5.650000
4    2008   5    14.35  34.0700   5.235000
5    2008   6    14.90  34.1800   4.820000
6    2008   7    15.10  33.9400   5.130000
7    2008   8    15.30  33.7000   5.440000
8    2008   9    20.35  33.5650   5.110000
9    2008  10    25.40  33.4300   4.780000
10   2008  11    20.50  33.4900   5.155000
11   2008  12    15.60  33.5500   5.530000
12   2009   1    14.80  33.9450   5.620000
13   2009   2    14.00  34.3400   5.710000
14   2009   3    14.00  34.3150   5.945000
15   2009   4    14.00  34.2900   6.180000
16   2009   5    15.75  34.1100   5.785000
17   2009   6    17.50  33.9300   5.390000
18   2009   7    21.20  32.9200   4.995000
19   2009   8    24.90  31.9100   4.600000
20   2009   9    23.70  32.6150   4.665000
21   2009  10    22.50  33.3200   4.730000
22   2009  11    20.10  33.5350   4.965000
23   2009  12    17.70  33.7500   5.200000
24   2010   1    16.15  34.0950   5.470000
25   2010   2    14.60  34.4400   5.740000
26   2010   3    14.00  34.4000   6.160000
27   2010   4    13.40  34.3600   6.580000
28   2010   5    14.65  34.1500   5.770150
29   2010   6    15.90  33.9400   4.960300
30   2010   7    16.00  33.5000   5.156150
31   2010   8    16.10  33.0600   5.352000
32   2010   9    17.25  33.0800   4.593100
33   2010  10    18.40  33.1000   3.834200
34   2010  11    17.20  33.5950   4.437800
35   2010  12    16.00  34.0900   5.041400
36   2011   1    14.50  34.3300   5.581600
37   2011   2    13.00  34.5700   6.121800
38   2011   3    13.65  34.5250   6.241800
39   2011   4    14.30  34.4800   6.361800
40   2011   5    15.80  34.3850   6.204900
41   2011   6    17.30  34.2900   6.048000
42   2011   7    18.85  33.6200   5.398900
43   2011   8    20.40  32.9500   4.749800
44   2011   9    20.55  33.2250   4.895500
45   2011  10    20.70  33.5000   5.041200
46   2011  11    18.80  33.8800   5.041200
47   2011  12    16.90  34.2600   5.041200
48   2012   1    15.55  34.4150   5.334900
49   2012   2    14.20  34.5700   5.628600
50   2012   3    14.90  34.5450   5.500000
51   2012   4    15.60  34.5200   5.371400
52   2012   5    16.10  34.2050   5.571400
53   2012   6    16.60  33.8900   5.771400
54   2012   7    19.35  33.2600   5.557150
55   2012   8    22.10  32.6300   5.342900
56   2012   9    22.25  32.9550   5.085750
57   2012  10    22.40  33.2800   4.828600
58   2012  11    19.00  33.6900   5.028600
59   2012  12    15.60  34.1000   5.228600
60   2013   1    14.85  34.2050   5.400000
61   2013   2    14.10  34.3100   5.571400
62   2013   3    15.00  34.4550   5.628550
63   2013   4    15.90  34.6000   5.685700
64   2013   5    15.90  34.1350   5.957150
65   2013   6    15.90  33.6700   6.228600
66   2013   7    16.55  33.4250   5.557150
67   2013   8    17.20  33.1800   4.885700
68   2013   9    20.20  33.4300   4.742850
69   2013  10    23.20  33.6800   4.600000
70   2013  11    20.50  34.0600   5.014300
71   2013  12    17.80  34.4400   5.428600
72   2014   1    15.85  34.4750   5.585750
73   2014   2    13.90  34.5100   5.742900
74   2014   3    14.10  34.4750   6.071450
75   2014   4    14.30  34.4400   6.400000
76   2014   5    16.35  34.2000   6.057150
77   2014   6    18.40  33.9600   5.714300
78   2014   7    20.75  33.2000   5.242850
79   2014   8    23.10  32.4400   4.771400
80   2014   9    22.85  33.1600   4.685700
81   2014  10    22.60  33.8800   4.600000
82   2014  11    19.55  34.1050   4.785700
83   2014  12    16.50  34.3300   4.971400
84   2015   1    14.75  34.3600   5.530700
85   2015   2    13.00  34.3900   6.090000
86   2015   3    13.45  34.2450   5.945000
87   2015   4    13.90  34.1000   5.800000
88   2015   5    17.10  33.8850   5.770000
89   2015   6    20.30  33.6700   5.740000
90   2015   7    20.85  32.9950   5.600000
91   2015   8    21.40  32.3200   5.460000
92   2015   9    20.20  32.0750   5.230000
93   2015  10    19.00  31.8300   5.000000
94   2015  11    17.75  32.7750   5.055000
95   2015  12    16.50  33.7200   5.110000
96   2016   1    14.10  33.9600   5.540700
97   2016   2    11.70  34.2000   5.971400
98   2016   3    13.80  34.3650   5.914275
99   2016   4    15.90  34.5300   5.857150
100  2016   5    15.65  34.1900   5.800025
101  2016   6    15.40  33.8500   5.742900
102  2016   7    17.15  33.5200   4.971450
103  2016   8    18.90  33.1900   4.200000
104  2016   9    20.35  32.8500   4.571450
105  2016  10    21.80  32.5100   4.942900
106  2016  11    19.95  33.3900   5.028600
107  2016  12    18.10  34.2700   5.114300
108  2017   1    16.00  34.3850   5.485650
109  2017   2    13.90  34.5000   5.857000
110  2017   3    14.75  34.5650   5.871500
111  2017   4    15.60  34.6300   5.886000
112  2017   5    16.00  34.3200   5.914500
113  2017   6    16.40  34.0100   5.943000
114  2017   7    18.35  33.7400   5.214500
115  2017   8    20.30  33.4700   4.486000
116  2017   9    20.45  33.6875   4.757500
117  2017  10    20.60  33.9050   5.029000
118  2017  11    18.20  34.1225   5.114500
119  2017  12    15.80  34.3400   5.200000
120  2018   1    14.05  34.4250   5.600000
121  2018   2    12.30  34.5100   6.000000
122  2018   3    13.10  34.4550   6.195000
123  2018   4    13.90  34.4000   6.390000
124  2018   5    17.10  34.0300   5.866500
125  2018   6    20.30  33.6600   5.343000
126  2018   7    20.25  33.4050   5.500000
127  2018   8    20.20  33.1500   5.657000
128  2018   9    21.25  33.5700   5.450000
129  2018  10    22.30  33.9900   5.243000
130  2018  11    19.20  34.0150   5.036000
131  2018  12    16.10  34.0400   4.829000
132  2019   1    15.45  34.2800   5.285950
133  2019   2    14.80  34.5200   5.742900
134  2019   3    15.95  34.5500   5.807175
135  2019   4    17.10  34.5800   5.871450
136  2019   5    16.85  34.1700   5.935725
137  2019   6    16.60  33.7600   6.000000
138  2019   7    17.45  33.3850   5.585700
139  2019   8    18.30  33.0100   5.171400
140  2019   9    19.85  33.1950   5.128550
141  2019  10    21.40  33.3800   5.085700
142  2019  11    20.25  33.8850   5.042850
143  2019  12    19.10  34.3900   5.000000
144  2020   1    17.15  34.4750   5.528550
145  2020   2    15.20  34.5600   6.057100
146  2020   3    14.90  34.5050   6.128550
147  2020   4    14.60  34.4500   6.200000
148  2020   5    15.15  34.1500   5.771450
149  2020   6    15.70  33.8500   5.342900
150  2020   7    17.45  33.7700   4.785750
151  2020   8    19.20  33.6900   4.228600
152  2020   9    20.45  33.2950   4.185750
153  2020  10    21.70  32.9000   4.142900
154  2020  11    19.70  33.5300   4.457150
155  2020  12    17.70  34.1600   4.771400
156  2021   1    16.35  34.4400   5.300000
157  2021   2    15.00  34.7200   5.828600
158  2021   3    16.00  34.6850   5.685750
159  2021   4    17.00  34.6500   5.542900
160  2021   5    17.40  34.4700   5.614300
161  2021   6    17.80  34.2900   5.685700
162  2021   7    18.30  33.4800   4.742850
163  2021   8    18.80  32.6700   3.800000
164  2021   9    21.00  33.2350   4.228550
165  2021  10    23.20  33.8000   4.657100
166  2021  11    20.20  33.9900   4.885700
167  2021  12    17.20  34.1800   5.114300
168  2022   1    15.65  34.3100   5.457150
169  2022   2    14.10  34.4400   5.800000
170  2022   3    14.70  34.3900   5.814300
171  2022   4    15.30  34.3400   5.828600
172  2022   5    16.95  34.1400   5.757150
173  2022   6    18.60  33.9400   5.685700
174  2022   7    19.30  33.3800   4.828550
175  2022   8    20.00  32.8200   3.971400
176  2022   9    21.35  33.4250   4.414250
177  2022  10    22.70  34.0300   4.857100
178  2022  11    19.55  34.1550   4.914250
179  2022  12    16.40  34.2800   4.971400

In [13]:
df2=df2.interpolate(method='linear',inplace=True)

In [63]:
df1=pd.read_excel('../data/temperature/original/정선해양 관측정보 (4).xlsx')
df2=pd.read_excel('../data/temperature/original/정선해양 관측정보 (5).xlsx')
df=pd.concat([df1,df2],axis=0)
df=df[['관측일시(KST)','수온(℃)','염분(psu)','용존산소(ml/L)','기압(hPa)']]
df

# df.to_csv('./data/temperature/207정선_월별_2.csv',index=False)

           관측일시(KST)  수온(℃)  염분(psu)  용존산소(ml/L)  기압(hPa)
0   2008-02-18 15:13   14.4    33.99      5.4200   1039.0
1   2008-04-01 14:50   12.2    33.91      5.5000   1022.0
2   2008-06-12 13:20   14.1    34.30      4.3700   1010.0
3   2008-08-06 17:30   14.5    34.42      4.3000   1011.0
4   2008-10-09 15:50   20.0    33.96      3.8900   1021.0
..               ...    ...      ...         ...      ...
19  2022-04-23 19:05   13.6    33.94      5.8286   1019.0
20  2022-06-20 17:10   15.8    34.10      4.9714   1010.0
21  2022-08-31 01:43   19.5    34.34      4.0000   1014.0
22  2022-11-01 21:22   22.3    33.95      4.0000   1026.0
23  2022-12-28 01:15   15.7    34.16      5.0000   1032.0

[90 rows x 5 columns]

In [65]:
df1=pd.read_csv('../data/temperature/207정선_월별_2.csv')
df1=df1.interpolate(method='linear')
df1=df1.rename(columns={'수온':'수온(50m)','염분':'염분(50m)'})
df=pd.merge(df1,df2,on=['년도','월'])

In [68]:
df=df[['년도','월','수온(30m)','염분(30m)','용존산소(30m)','수온(50m)','염분(50m)','용존산소(50m)']]
df
# df.to_csv('../data/temperature/207정선_월별(30,50m).csv',encoding='utf-8-sig',index=False)