In [2]:
import pandas as pd

### 용어 정리
- frozen mackerel : 냉동 고등어
- refrigerated mackerel : 냉장 고등어
- output : 생산량
- price : 가격
- import price : 수입 가격

자료출처
- 고등어 생산량 및 가격 : 한국해양수산개발원(https://www.foc.re.kr/web/obstats/stats.do?rbsIdx=106&sPType=1&sSIssue1=2010&sSIssue2=04&sEIssue1=2024&sEIssue2=03&sItem=1&sItem=3&sItem=4&sItem=5&sItem=6&sItem=7)
- 고등어 월별 평균수입가격 : 관세청(https://tradedata.go.kr/cts/index.do)
- 국가별 고등어 수출 물량 : 수산물수출정보포털(https://kfishinfo.co.kr/kor/view.do?no=626#)

##### 고등어 생산량 및 가격

In [24]:
mackerel_output_and_price = pd.read_csv("./data/고등어 생산량 및 가격.csv", encoding='cp949')
mackerel_output_and_price[mackerel_output_and_price.iloc[:,9:].isnull().any(axis=1)]

# 보간법으로 결측치 처리
mackerel_output_and_price['소비자가격(냉동)(원/kg)'] = mackerel_output_and_price['소비자가격(냉동)(원/kg)'].interpolate()
mackerel_output_and_price = mackerel_output_and_price.drop(columns=mackerel_output_and_price.columns[4:9])
mackerel_output_and_price

        년도    월  생산량(톤)  재고량(톤)  소비자가격(냉동)(원/kg)
0    2013년  12월   22510   74415           6137.0
1    2014년  01월    6480   76582           6211.0
2    2014년  02월    3783   71248           6286.0
3    2014년  03월    3057   63630           6251.0
4    2014년  04월    1649   56994           6346.0
..     ...  ...     ...     ...              ...
118  2023년  10월   12589   39553          12157.0
119  2023년  11월   15435   36745          12503.0
120  2023년  12월    8517   40676          12283.0
121  2024년  01월    8486   40026          12680.0
122  2024년  02월    7552   45949          12689.0

[123 rows x 5 columns]

##### 고등어 월별 평균수입가격

In [25]:
mackerel_import_price = pd.read_csv("./data/고등어 월별 평균수입가격.csv", encoding='cp949')
# 데이터를 숫자형으로 변환
mackerel_import_price = mackerel_import_price.iloc[:,2:].apply(pd.to_numeric, errors ='ignore')
mackerel_import_price = mackerel_import_pric.drop(columns=['고등어(신선,냉장) (원/kg)'])
mackerel_import_price

     고등어(냉동) (원/kg)  수입량(톤)
0              2883    5386
1              2955    3476
2              2974    1101
3              2562    2011
4              2688    2454
..              ...     ...
118            3302     193
119            3002    2127
120            2918   10476
121            2997    2496
122            2959    6121

[123 rows x 2 columns]

##### 국가별 고등어 수입 물량(kg)

In [35]:
mackerel_import_quantity = pd.read_csv("./data/국가별 고등어 수입 물량(kg).csv", encoding='cp949')
# '국가' 열을 기준으로 그룹화하여 각 국가별로 수출물량 합산
mackerel_import_quantity = mackerel_import_quantity.groupby('국가').sum()
# '구분' 열 삭제
mackerel_import_quantity = mackerel_import_quantity.drop(columns='구분')
# 데이터를 숫자형으로 변환
mackerel_import_quantity = mackerel_import_quantity.apply(pd.to_numeric, errors ='ignore')
# 합계 열 추가
mackerel_import_quantity['합계'] = mackerel_import_quantity.sum(axis=1)
# 합계 열 기준 내림차순 정렬
mackerel_import_quantity = mackerel_import_quantity.sort_values(by='합계', ascending=False)
mackerel_import_quantity

,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,합계
국가,,,,,,,,,,
노르웨이,36160118,38765235,36518692,36812100,34876470,36400226,45212330,49312434,51305747,365363352
중국,9290431,2788194,2058661,2346076,5645192,3041401,4298540,2734252,4191905,36394652
러시아,0,0,66166,23772,0,5440089,3120125,1217500,33598,9901250
페루,0,1740000,4687500,25660,0,0,0,0,0,6453160
대만,3300180,95350,0,707680,0,125550,152910,0,1352314,5733984
영국,1460001,686660,628800,240002,336000,1,120000,1284200,144000,4899664
네덜란드,192000,202788,218093,416906,817034,25588,278898,352155,589125,3092587
베트남,209890,150308,169295,292788,321920,378909,207718,280700,308372,2319900
태국,87631,28308,74172,115419,167940,207048,87253,65490,275857,1109118
일본,115575,15284,112279,144194,18170,189970,215756,166362,8499,986089
이집트,156340,0,0,532720,0,0,0,0,0,689060
독일,0,0,66000,0,39880,0,0,190528,184800,481208
아일랜드,0,0,214200,20,240060,271,0,0,15,454566
파키스탄,0,0,26000,79650,90150,103500,45000,22500,45000,411800
필리핀,2,1168,0,0,0,0,1705,263252,0,266127
인도,0,0,0,0,0,0,66780,100340,0,167120
멕시코,0,0,16710,0,0,122130,0,0,0,138840
아이슬란드,31968,58864,22680,3802,6666,0,0,0,0,123980
바누아투,0,0,0,0,0,35198,67039,0,0,102237
미국,77100,6,1,2,28,7,3003,15,16,80178
프랑스,0,1149,0,0,0,0,0,67704,1,68854
스페인,55401,0,0,0,0,0,0,0,0,55401
탄자니아,0,0,0,0,0,0,51000,0,0,51000
인도네시아,3480,1613,1331,398,8420,788,775,29940,1089,47834
리투아니아,0,0,0,0,0,0,0,47600,0,47600
마카오,0,0,46600,0,0,0,0,0,0,46600
칠레,0,0,1,0,0,18979,0,15300,7801,42081
스웨덴,0,0,5490,798,11897,10329,5795,3776,3542,41627
패로제도,25000,0,0,0,0,0,0,0,0,25000
기타,0,0,0,0,0,0,0,0,23100,23100
라트비아,0,0,13306,5626,0,0,924,1017,0,20873
캐나다,0,20820,0,0,0,0,0,0,0,20820
덴마크,0,0,0,10,4,18396,2,0,5,18417
스리랑카,4658,4740,2712,0,240,0,384,0,0,12734
방글라데시,9120,2920,0,20,0,0,0,0,0,12060
아르헨티나,0,0,0,0,0,0,8180,0,0,8180
홍콩,0,0,3200,0,0,0,0,0,0,3200
미얀마,3000,0,0,0,0,0,0,0,0,3000
벨라루스,0,0,0,0,0,0,513,2360,0,2873
모로코,125,277,94,214,438,0,0,0,5,1153
포르투갈,0,0,0,25,223,0,1,543,0,792
이탈리아,11,0,20,0,126,63,0,0,0,220
싱가포르,4,3,0,0,0,196,0,0,0,203
에콰도르,0,0,0,0,0,0,0,200,0,200
알바니아,0,0,0,0,0,0,200,0,0,200
몽골,0,0,0,0,0,0,0,0,7,7
세네갈,0,0,0,0,0,0,0,0,3,3
말레이시아,0,0,0,0,0,0,1,0,0,1
호주,0,0,0,0,0,0,0,0,0,0