In [56]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### 용어 정리
- year : 년도
- month : 월
- output : 생산량

### 출처
- 고등어 생산량 : KOSIS(https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1EW0004&vw_cd=MT_ZTITLE&list_id=K2_7&seqNo=&lang_mode=ko&language=kor&obj_var_id=&itm_id=&conn_path=MT_ZTITLE)

In [29]:
# 데이터 불러오기
mackerel=pd.read_csv('./data/mackerel/부산_고등어_생산량(선어).csv',encoding='cp949')
mackerel=mackerel.rename(columns={'년도':'year','월':'month','생산량':'output'})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    193 non-null    int64
 1   month   193 non-null    int64
 2   output  193 non-null    int64
dtypes: int64(3)
memory usage: 4.7 KB

In [54]:
# 가격 비교를 위한 mackerel
mackerel_for_price=mackerel[mackerel['year']<=2022]
mackerel_for_price=mackerel_for_price[:175]
mackerel_for_price

     year  month  output
0    2008      1    7994
1    2008      2    1430
2    2008      3    3001
3    2008      4    1385
4    2008      5     582
..    ...    ...     ...
170  2022      3    3340
171  2022      4     151
172  2022      5     232
173  2022      6     585
174  2022      7    2507

[175 rows x 3 columns]

In [55]:
# 연도별 평균
mackerel_year_mean=mackerel.groupby('year').mean().drop(columns='month')
# 월 총 평균
mackerel_month_mean=mackerel.groupby('month').mean().drop(columns='year')

In [ ]:
for i in range(1,13):
    mackerel_for_price['']