In [21]:
import pandas as pd
import numpy as np

### 자료출처
 - 지역별 수온온도 : 기상청(https://data.kma.go.kr/data/sea/selectBuoyRltmList.do?pgmNo=52)

In [83]:
shinan_df=pd.read_csv('./data/temperature/신안 통합.csv',encoding='cp949',index_col='일시')
shinan_df.head()
df1=shinan_df.iloc[:,1:].groupby('일시').mean()
df1['지점']=22183
df1.to_csv('./data/temperature/신안_월별.csv')

In [112]:
geomun_df=pd.read_csv('./data/temperature/거문도_월별.csv',index_col='일시')
geomun_df

,평균 풍속(m/s),평균기압(hPa),평균 상대습도(%),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec),지점
일시,,,,,,,,,,,,
1999-04,6.300000,1013.055000,77.400000,12.775000,13.350000,1.820000,0.610000,1.090000,3.175000,14.070000,36.630000,22103
1999-05,5.317391,1011.769565,86.086957,16.200000,15.617391,1.339130,0.426087,0.669565,2.139130,13.443478,45.704348,22103
1999-06,4.224138,1007.400000,91.931034,19.720690,19.213793,1.556667,0.516667,0.793333,2.413333,14.806667,39.360000,22103
1999-07,6.974194,1004.667742,89.774194,22.422581,22.045161,2.067742,0.683871,1.135484,3.303226,22.709677,52.538710,22103
1999-08,5.332258,1006.329032,89.741935,23.683871,23.267742,2.066667,0.680645,1.006452,3.053333,11.113333,28.623333,22103
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08,5.100000,1007.518531,86.857651,26.624296,26.301736,1.821831,1.145390,1.549505,2.559406,6.369014,7.853135,22103
2024-09,6.561672,1012.440268,80.334448,23.820134,24.359197,1.899331,1.191304,1.716000,2.811333,5.996656,7.798000,22103
2024-10,6.537415,1018.834884,69.993485,19.690554,21.351634,1.659672,1.046865,1.541935,2.513226,5.339604,7.299677,22103
2024-11,6.316028,1021.810738,67.926174,14.665436,17.618121,1.387919,0.880537,1.285667,2.069667,4.773826,6.624000,22103
2024-12,7.547463,1024.346687,64.232836,8.526269,15.309880,1.608657,1.021493,1.449267,2.417009,4.544776,6.496188,22103

In [113]:
geoje_df=pd.read_csv('./data/temperature/거제도 통합.csv',encoding='cp949',index_col='일시')
df1=geoje_df.iloc[:,1:].groupby('일시').mean()
df1['지점']=22104
df1.to_csv('./data/temperature/거제도_월별.csv')

In [87]:
ulsan_df=pd.read_csv('./data/temperature/울산 통합.csv',encoding='cp949')
df1=ulsan_df.iloc[:,1:].groupby('일시').mean()
df1['지점']=22189
df1.to_csv('./data/temperature/울산_월별.csv')