In [2]:
import pandas as pd

# 수온 데이터

In [7]:
temp=pd.read_csv('./data/temperature/정선해양_월별(207).csv',encoding='cp949')

In [8]:
temp

       년도   월  Unnamed: 2
0    2007  12       16.70
1    2008   1       15.75
2    2008   2       14.80
3    2008   3       14.30
4    2008   4       13.80
..    ...  ..         ...
176  2022   8       20.00
177  2022   9       21.35
178  2022  10       22.70
179  2022  11       19.55
180  2022  12       16.40

[181 rows x 3 columns]